html{
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
    margin: 0;
    position: relative;
    background-color: black;
    color: white;
    font-family: 'Raleway', sans-serif;
}

#headerVisible{
    display: flex;
    background-color: rgba(0,0,0,0.92);
    align-items: center;
}

#navCategorie {
    flex: 1 1 0;
}

#navCategorie ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: space-evenly;
}

#navCategorieCache {
    background-color: black;
}

#navCategorieCache ul {
    display: flex;
    list-style-type: none;
    font-size: 15px;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
}

#navCategorieCache a {
    padding: 0.5em;
}

.listeCategorie {
    text-align: center;
}

#logo {
    margin-left: 5%;
    margin-right: 4%;
}

#lienLogo {
    padding: 1em 0.5em;
    display: block;
    height: 23px;
}

#lienlogo img{
    max-width: 100%;
    height: auto;
}

#logoCapgemini {
    max-width: 100%;
}

.lienCategorie {
    display: block;
    color: rgb(245, 245, 247);
    text-decoration: none;
}

#searchbar {
    margin-left: 3%;
    margin-right: 7%;
}

#searchbar input {
    border: 1px;
    width: 75%;
    background-color: rgb(245, 245, 247);   
}

#searchbar button {
    border: 1px;
    border-radius: 2px;
    background-color: #c2c0cc;
}

footer {
    background-color: #303030d7;
    color: #e7e7f2;/* ou #1d1d1f;*/
	position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1.7em 0;
    font-size: 20px;
}

#footerContactCapgemini {
    flex: 1 1 0;
    display: flex;
    justify-content: space-evenly;
}

#footerLogoReseauxSociaux {
    display: flex;
    justify-content: end;
    margin-right: 7%;
    flex: 0.8 1 0;
}

#footerLogoReseauxSociaux a {
    display: block;
    width: 50px;
    height: 38.5px;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    margin-right: -2px;
}


#footerLogoReseauxSociaux img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
}


#contenuTitreEtImage {
    background: url("../img/fondPresentation2.png") no-repeat center center fixed; 
    background-size: cover;
    height: 400px;
    padding: 1px;
}

#titreContenu {
    text-align: center;
    font-size: 30px;
    font-family: 'Work Sans', sans-serif;
    text-shadow: 2px 2px 3px rgba(5, 105, 255, 0.616);
    color: white;
    margin-right: 2%;
    margin-left: -5%;
    margin-top: 2%;
    padding: 0.8em 1em;
    margin-bottom: 5%;
}

#titreContenu h1 {
    margin-top: 0;
    margin-bottom: 0;
    height: 70px;
    font-weight:bolder;
}

#blkContenu {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

article {
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 1%;
    padding-bottom: 1%;
}

article:first-child {
    background-color: #272a30;
}

article:nth-child(2){
    background-image: url("../img/fondQuest.png");
    background-size: cover;
    height: 450px;
}

article:nth-child(3){
    background: linear-gradient(to bottom, rgba(15,15,15,0) 55%, rgba(5,150,255, 0.7));
}

#blkContenu h3{
    display: block;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 60px;
    font-size: 40px;
    color: #06adff;
    text-align: center;
    padding-top: 30px;
}

#blkContenu img {
    width: 70%;
    height: auto;
    display: block;
    margin: auto;
}

#ipsum{
    margin-top: 80px;
}

#ipsum + p {
    margin-bottom: 50px;
}

#titreCapgemini {
    margin-top: 0;
    margin-left: 10%;
}



@media screen and (max-width: 500px){
    #navCategorieCache ul {
        font-size: 14px;
    }
    
    #navCategorie{
        display:none;
    }
    #lienLogo {
        padding: 0.45em 0.25em;
    }

    #logoCapgemini {
        max-height: 100%;
        margin-top: 3px;
    }
    #searchbar {
        margin-top: 2px;
        margin-left: auto;
        width: 120px;
    }
    #searchbar input {
        height: 15px;
        font-size: 11px; 
        width: 100%;
    }
    
    #searchbar button {
        display: none;
    }

    footer {
        display: block;
    }

    #footerContactCapgemini {
        justify-content: space-around;
    }

    #footerLogoReseauxSociaux {
        justify-content: center;
        margin: 0;
    }

    #footerLogoReseauxSociaux a {
        width: 29px;
        height: 29px;
        margin-right: 7px;
    }

    #footerContact {
        flex: 1 1 0;
    }

    #footerLienSiteCapgemini {
        flex: 1 1 0;
    }
    #titreContenu {
        font-size: 22px;
    }
    #blkContenu h3 {
        display: none;
    }
    #blkContenu .contenu:first-child {
        padding-bottom: 40px;
    }
}

@media screen and (min-width: 501px) and (max-width: 720px) {
    #navCategorie{
      display:none;
    }
    #lienLogo {
        padding: 0.6em 0.3em;
    }
    #logoCapgemini {
        max-height: 100%;
        margin-top: 3px;
    }
    #searchbar {
        margin-top: 2px;
        margin-left: auto;
        width: 150px;
    }
    #searchbar input {
        height: 17px;
        font-size: 12px; 
        width: 100%;
    }
    
    #searchbar button {
        display: none;
    }

    footer {
        display: block;
    }

    #footerContactCapgemini {
        justify-content: space-around;
    }

    #footerLogoReseauxSociaux {
        justify-content: center;
        margin: 0;
    }

    #footerLogoReseauxSociaux a {
        width: 32px;
        height: 32px;
        margin-right: 7px;
    }

    #footerContact {
        flex: 1 1 0;
    }

    #footerLienSiteCapgemini {
        flex: 1 1 0;
    }

    #titreContenu {
        font-size: 26px;
    }
}

@media screen and (min-width: 721px) and (max-width: 1020px) {
    #navCategorie{
      display:none;
    }
    #lienLogo {
        padding: 0.6em 0.3em;
    }
    #logoCapgemini {
        max-height: 100%;
        margin-top: 3px;
    }
    #searchbar {
        margin-top: 2px;
        margin-left: auto;
        width: 150px;
    }
    #searchbar input {
        height: 17px;
        font-size: 12px; 
        width: 100%;
    }
    
    #searchbar button {
        display: none;
    }

    #titreContenu {
        font-size: 28px;
    }
    #footerLogoReseauxSociaux a {
        width: 36.5px;
        height: 36.5px;
        margin-right: 7px;
    }
}

@media screen and (min-width: 1021px) {
    #navCategorieCache{
      display:none;
    }
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}

footer img:hover {
    scale: 1.1;
}

footer a:visited {
    color: white;
}