body {
    font-family: 'Raleway', sans-serif;
    background-color: ghostwhite;
    background-image: url("../img/fond_ressource.jpg");
}

/* Main */

/* TitreEtImage */

#contenuTitreEtImage {
    background-color: #272a30;
    height: 400px;
    padding: 1px;
    font-size: 32px;
    background: url("../img/ressource2.jpg") no-repeat center center fixed;
}

h1 {
    color: white;
    font-family: 'Work Sans', sans-serif;
    text-shadow: 2px 2px 3px black;
    text-align: center;
    margin-top: 2%;
    padding: 0.8em 1em;
}

/* bloc Contenu */

#blkContenu {
    background-color: #1D1D1F;
    opacity: 0.83;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.1em;
    padding-bottom: 1px;
    border-radius: 10px;
    font-size: 21px;
}

article {
    margin-left: 2%;
    margin-right: 2%;
}

h2 {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 3%;
    margin-right: 3%;
    color: white;
}

/* Humain Financier */

#humain {
    display: flex;
    flex-wrap: wrap;
    color: white;
}

#humain p,img {
    margin-left: 4%;
}

#humain img {
    width: 30%;
    border: solid black 5px;
    margin-left: auto;
    margin-right: auto;
}

/* Marque */

#marque article {
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 5%;
    padding-bottom: 0.5%;
    padding-top: 0.5%;
    gap : 5%;
    border-radius: 15px;
    box-shadow: 4px 4px 5px white;
    display: flex;
    flex-wrap: wrap;
}

#marque img {
    width: 200px;
    margin-left: 1%;
    border-radius: 10px;
    background-color: white;
}

#marque p {
    padding-right: 5%;
    margin-left: 1%;
}

/* Partenaire */

#partenaire {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#partenaire article {
    background-color: rgb(0, 0, 0);
    color: white;
    margin:3%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 4px 4px 5px white;
    width: 400px;
}

#partenaire img {
    width: 150px;
    background-color: white;
}

/* Partie Matthew */

html{
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
    margin: 0;
    position: relative;
}

#headerVisible{
    display: flex;
    background-color: rgba(0,0,0,0.92);
    align-items: center;
}

#navCategorie {
    flex: 1 1 0;
}

#navCategorie ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: space-evenly;
}

#navCategorieCache {
    background-color: black;
}

#navCategorieCache ul {
    display: flex;
    font-size: 15px;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
}

#navCategorieCache a {
    padding: 0.5em;
}

.listeCategorie {
    text-align: center;
}

#logo {
    margin-left: 5%;
    margin-right: 4%;
}

#lienLogo {
    padding: 1em 0.5em;
    display: block;
    height: 23px;
}

#lienlogo img{
    max-width: 100%;
    height: auto;
}

#logoCapgemini {
    max-width: 100%;
}

.lienCategorie {
    display: block;
    color: rgb(245, 245, 247);
    text-decoration: none;
}

#searchbar {
    margin-left: 3%;
    margin-right: 7%;
}

#searchbar input {
    border: 1px;
    width: 75%;
    background-color: rgb(245, 245, 247);   
}

#searchbar button {
    border: 1px;
    border-radius: 2px;
    background-color: #c2c0cc;
}

footer {
    background-color: #303030d7;
    color: #e7e7f2;/* ou #1d1d1f;*/
	position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1.7em 0;
    font-size: 20px;
}

#footerContactCapgemini {
    flex: 1 1 0;
    display: flex;
    justify-content: space-evenly;
}

#footerLogoReseauxSociaux {
    display: flex;
    justify-content: end;
    margin-right: 7%;
    flex: 0.8 1 0;
}

#footerLogoReseauxSociaux a {
    display: block;
    width: 50px;
    height: 38.5px;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    margin-right: -2px;
}

#footerLogoReseauxSociaux img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
}

/* Animation */

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}

footer img:hover {
    scale: 1.1;
}

footer a:visited {
    color: white;
}

@media screen and (max-width: 500px){
    #navCategorieCache ul {
        font-size: 14px;
    }
    
    #navCategorie{
        display:none;
    }
    #lienLogo {
        padding: 0.45em 0.25em;
    }

    #logoCapgemini {
        max-height: 100%;
        margin-top: 3px;
    }
    #searchbar {
        margin-top: 2px;
        margin-left: auto;
        width: 120px;
    }
    #searchbar input {
        height: 15px;
        font-size: 11px; 
        width: 100%;
    }
    
    #searchbar button {
        display: none;
    }

    footer {
        display: block;
    }

    #footerContactCapgemini {
        justify-content: space-around;
    }

    #footerLogoReseauxSociaux {
        justify-content: center;
        margin: 0;
    }

    #footerLogoReseauxSociaux a {
        width: 29px;
        height: 29px;
        margin-right: 7px;
    }

    #footerContact {
        flex: 1 1 0;
    }

    #footerLienSiteCapgemini {
        flex: 1 1 0;
    }
    #titreContenu {
        font-size: 26px;
    }
    #blkContenu h3 {
        display: none;
    }
    #blkContenu .contenu:first-child {
        padding-bottom: 40px;
    }

    main {
        padding-bottom: 50px;
    }
}

@media screen and (min-width: 501px) and (max-width: 720px) {
    #navCategorie{
      display:none;
    }
    #lienLogo {
        padding: 0.6em 0.3em;
    }
    #logoCapgemini {
        max-height: 100%;
        margin-top: 3px;
    }
    #searchbar {
        margin-top: 2px;
        margin-left: auto;
        width: 150px;
    }
    #searchbar input {
        height: 17px;
        font-size: 12px; 
        width: 100%;
    }
    
    #searchbar button {
        display: none;
    }

    footer {
        display: block;
    }

    #footerContactCapgemini {
        justify-content: space-around;
    }

    #footerLogoReseauxSociaux {
        justify-content: center;
        margin: 0;
    }

    #footerLogoReseauxSociaux a {
        width: 32px;
        height: 32px;
        margin-right: 7px;
    }

    #footerContact {
        flex: 1 1 0;
    }

    #footerLienSiteCapgemini {
        flex: 1 1 0;
    }

    #titreContenu {
        font-size: 28px;
    }
}

@media screen and (min-width: 721px) and (max-width: 1020px) {
    #navCategorie{
      display:none;
    }
    #lienLogo {
        padding: 0.6em 0.3em;
    }
    #logoCapgemini {
        max-height: 100%;
        margin-top: 3px;
    }
    #searchbar {
        margin-top: 2px;
        margin-left: auto;
        width: 150px;
    }
    #searchbar input {
        height: 17px;
        font-size: 12px; 
        width: 100%;
    }
    
    #searchbar button {
        display: none;
    }

    #titreContenu {
        font-size: 30px;
    }
    #footerLogoReseauxSociaux a {
        width: 36.5px;
        height: 36.5px;
        margin-right: 7px;
    }
}

@media screen and (min-width: 1021px) {
    #navCategorieCache{
      display:none;
    }
}